body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
  }
p{
    font-size: large;
    color:#cee794
    
}
.lastWord{
    font-size: 40px;
    color:#7cc2dd 
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #77d420;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 4px solid #3498db;
    display: inline-block;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 1.5rem;
    color: hsl(207, 94%, 50%);
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  form {
    background-color: transparent;
    padding: 20px;
    /* border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    max-width: 600px;
    margin: 20px auto;
  }
  .formContainer{
    margin-bottom: 32px;
    background-color:rgba(187, 250, 255, 0.83);
    justify-content: right;
  }
  .formPage{
    display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
  }
#updateContainer{
  background-color: rgba(197, 144, 7, 0.38);
}
  #titleBox{
    margin-bottom: 32px;
    background-color:rgba(71, 149, 56, 0.24);
    justify-content: right;
  }
  #titleText {
    background-color: rgba(55, 131, 40, 0.28);  
    padding: 32px;                
    width: 100%;
    max-width: 100%; 
    border-radius:8px;
    box-sizing: border-box;  
  }
  #buttonList{
    display: flex;
    flex-direction: row;
    align-items: top;
    padding: 8px,
  }
  #navButton{
    margin-bottom: 16px;
    padding: 10px 20px;
    width: 200px;
    text-align: center;
    color:rgba(0, 0, 0, 1);
    font-weight: bold; 
  }
  form input {
    display: block;
    margin-bottom: 10px;
    padding: 12px 25px;
    font-size: 16px;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid red;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
button{
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #ec506a;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}
button:hover {
    background-color: #c70404;
    transform: translateY(-4px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
  button:active {
    background-color: #1c6a9a;
    transform: translateY(2px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  .link{
    padding: 12px 24px;
    margin-right: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: hsl(310, 92%, 30%);
    border: none;
    border-radius: 2px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}
.adder{
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: hsl(187, 78%, 49%);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}
#tableContainer{
  display: flex;
  
  padding-right:50px;
  padding-bottom:50px;
  padding-left:150px;
}
  table th, table td {
    
    padding: 3px;
    text-align: left;
    
    font-size: 20px;
    color:#250606;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  table th:nth-child(1),table th:nth-child(2),table th:nth-child(3),table th:nth-child(4) {
    background-color: #1a1b02;
    color: #fff;
    text-transform: uppercase;
  }
table td:nth-child(1),table td:nth-child(2),table td:nth-child(3),table td:nth-child(4){
  background-color: #ffffff;
  border: 1px solid #350f0f;
}
  
  /* table tr:nth-child(even) {
    background-color: hsl(41, 89%, 43%);
  } */
  ul {
    background-color: #8edaec;
    list-style-type: square;
    margin: 20px 0;
    padding-left: 20px;
    color: hsl(175, 86%, 6%);
  }
  
  ul li {
    font-size: 16px;
    margin-bottom: 8px;
    line-height: 1.4;
  }
